<div class="container mt-5">

    <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h2>This is About Us Section</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto eius corporis dolore modi nostrum beatae
            architecto, ab natus amet rerum vitae est aspernatur reprehenderit sunt facilis doloribus doloremque
            incidunt ex
            animi temporibus qui ad.</p>
        <button class="btn btn-outline-light" type="button">Contact Us</button>
    </div>
</div>